/* コンテナ */
.container {
    margin-left: 240px;
    width: calc(100% - 240px);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: margin-left 0.3s ease, width 0.3s ease;
	max-width: 800px;
}

/* ヘッダーのスタイル */
.header {
	  font-size: 35px ;
	  margin-bottom: 40px ;
	  margin-top: 20px ;
	  text-align: center;    
	  color: #808080 ;      
	}

/* フォーム */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    width: 170px !important;
    background: #4CAF50 !important;
    color: white !important;
    font-size: 16px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    cursor: pointer;
	display: inline-block;
}

.btn:hover {
    background: #45a049 !important;
}
