<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール編集</title>
	<link rel="stylesheet" th:href="@{/css/sidebar.css}">
	<link rel="stylesheet" th:href="@{css/profile.css}">
</head>
<body class="sidebar-open">
	
	<div th:replace="~{sidebar :: sidebar}"></div>
		<div th:replace="common/messageIcon :: messageIcon"></div>

    <!-- メインコンテンツ -->
    <div class="container" id="container">
        <div class="form-container">
            <h1 class="header">プロフィール編集</h1>

			<!-- アラート表示メッセージ -->
			<div class="alert d-flex align-items-center"
			     th:classappend="${isError} ? 'alert-danger' : 'alert-primary'"
			     role="alert" th:if="${message != null}">
			    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
			        <use xlink:href="#exclamation-triangle-fill" th:if="${isError}" />
			        <use xlink:href="#info-fill" th:unless="${isError}" />
			    </svg>
			    <span th:text="#{${message}}"></span>
			</div>
						 
						 <form th:action="@{/profile}" 
						 th:object="${profileEditForm}" 
						 method="post"
						  enctype="multipart/form-data">
						  
						  <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			
                <div class="form-group">
					
					<!-- 登録済み画像 -->
					<img th:if="${user != null and user.profileImage != null and !#strings.isEmpty(user.profileImage)}"
					     th:src="@{'/profile-images/' + ${user.profileImage} + '?v=' + ${#dates.createNow().time}}"
					     alt="プロフィール画像" class="profile-img-preview" />

					 <!-- デフォルト画像 -->
					 <img th:if="${user == null or user.profileImage == null or #strings.isEmpty(user.profileImage)}"
					      th:src="@{/profile-images/default.jpg}"
					      alt="デフォルト画像" class="profile-img-preview" />

					
                    <label for="profileImage">プロフィール画像</label>
					<input type="file" id="profileImage" name="profileImage" accept="image/*">
                    <small class="error" id="profileImageError"></small>
					<span class="text-danger" th:if="${#fields.hasErrors('profileImage')}" th:errors="*{profileImage}"></span>
                </div>
				
				    <!-- 名前 -->
					<div class="form-group">
				        <label for="name">ユーザー名</label>
						<input type="text" id="editName" th:field="*{loginId}" placeholder="ユーザー名を入力">
						<input type="hidden" th:field="*{originalLoginId}" id="originalLoginId">
						<span class="text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
				    </div>
    
					<div class="form-group">
					    <label for="furigana">ふりがな</label>
					    <input type="text" id="furigana" th:field="*{furigana}" placeholder="ふりがなを入力">

					    <!-- 未入力 -->
<!--					    <span class="text-danger" th:if="${#fields.hasErrors('furiganaRequired')}" th:errors="*{furiganaRequired}"></span>-->

					    <!-- 形式エラー -->
					    <span class="text-danger" th:if="${#fields.hasErrors('furiganaFormatValid')}" th:errors="*{furiganaFormatValid}"></span>

					    <!-- 長さエラー（255超） -->
					    <span class="text-danger" th:if="${#fields.hasErrors('furigana')}" th:errors="*{furigana}"></span>
					</div>

				    <!-- 性別 -->
					<div class="form-group">
					    <label for="gender">性別</label>
					    <select id="gender" th:field="*{gender}">
					        <option value="">選択してください</option>
					        <option value="1">男性</option>
					        <option value="2">女性</option>
					        <option value="3">その他</option>
							<option value="9">エラー用</option>
					    </select>
						<span class="text-danger" th:if="${#fields.hasErrors('genderValid')}" th:errors="*{genderValid}"></span>
					</div>

				    <!-- 年齢 -->
					<div class="form-group">
				        <label for="age">年齢</label>
				        <input type="number" th:field="*{age}"id="age" placeholder="年齢を入力"min="0">
<!--						<span class="text-danger" th:if="${#fields.hasErrors('ageRequired')}" th:errors="*{ageRequired}"></span>-->
					    <span class="text-danger" th:if="${#fields.hasErrors('ageValid')}" th:errors="*{ageValid}"></span>
				    </div>

				    <!-- 自己紹介 -->
					<div class="form-group">
				        <label for="introduction">自己紹介</label>
				        <textarea th:field="*{introduction}"id="introduction" placeholder="自己紹介を入力"></textarea>
<!--						<span class="text-danger" th:if="${#fields.hasErrors('introductionRequired')}" th:errors="*{introductionRequired}"></span>-->
						    <span class="text-danger" th:if="${#fields.hasErrors('introductionLengthValid')}" th:errors="*{introductionLengthValid}"></span>
				    </div>

				    <button type="submit" class="btn">変更を保存</button>
				</form>
        </div>
    </div>

	 <script src="js/profile.js"></script>
	 <script src="js/sidebar.js"></script>
</body>
</html>
